.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__ico
        =link_to "#", class: "btn edit-btn" do
          %i.fa.fa-edit
        =link_to edit_user_path(current_user), class: "btn cog-btn" do
          %i.fa.fa-cog        
  .side-bar__group-list
    .group-element
      .group-element__name
        techcamp
      .group-element__message
        まだメッセージはありません
    .group-element
      .group-element__name
        techcamp
      .group-element__message
        まだメッセージはありません
    .group-element
      .group-element__name
        techcamp
      .group-element__message
        まだメッセージはありません
    .group-element
      .group-element__name
        techcamp
      .group-element__message
        まだメッセージはありません
